*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
h1{
    color: green;
    font-weight: bold;
    text-align: center;
    padding: 50px 5px;
}
body{
    width: 100%;
    min-height: 100dvh;
    background: rgb(255,207,157);
    background: linear-gradient(135deg, rgba(255,207,157,1) 0%, rgba(255,176,0,1) 100%);
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 450px; */
    /* border: 1px solid white; */
    /* padding: 10px;*/
    user-select: none;
}

.row{
    max-width: 450px; 
    background-color: transparent;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,85px);
    gap: 8px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    /* grid-template-rows: repeat(4,1fr); */
    /* border: 1px solid rgb(3, 255, 3); */
}
.button{
    height: 80px;
    width: 80px;
    /* padding: 30px; */
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.button:nth-child(3){
    cursor: no-drop;
}


.input-area{
    grid-column: 1/5;
    /* border: 1px solid red; */
    /* width: 100%; */
    text-align: end;
    padding: 5px 30px;
    background-color: green;
    border-radius: 18px;
    /* height: 140px; */
    width: 100%;
    /* word-wrap: break-word;
    word-break: break-all; */
}
.input{
    text-align: end;
    width: 100%;
    padding: 5px;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    height: 55px;
    /* border: 1px solid white; */
    align-items: center;
    
}
.input::placeholder{
    color: white;
}
.input-area .label{
    /* display: inline-block; */
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 1.5rem;
    color: white;
}

.icons-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    /* border: 1px solid rgb(225, 255, 0); */
    /* text-align: left; */
    padding: 15px 0;
    
}
.icons-section .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: 00; */
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    cursor:no-drop;
}
.icons-section .icons:first-child{
    margin-right: 18px;
}
.icons-section .icons:last-child{
    /* color: #6dee0a; */
    /* justify-self: flex-end; */
    margin-left: auto;
    user-select: none;
    cursor: pointer;
}
#deletebtn{
    font-weight: 400;
    font-size: 35px;
    font-size: 35px;
}

.green{
    color: #6dee0a;
    font-size: 30px;
    /* color: green; */
}
.orange{
    /* color: orange; */
    color: #fb7c14;
}
.equals{
    background-color: green;
    color: white;
}
